{% extends "layout.html" %} {%block body%}
{% set fname = "assets/img/"+post.img_file %}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{{url_for('static' ,filename=fname)}}'"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>{{post.title}}</h1>
          <br>
          <h5 class="subheading">Do you want to delete the current post ?</h5>
          <br>
          <a href="/delete-page/{{post.sno}}">
            <button class="btn btn-primary">Delete</button>
          </a>
          <a href="/dashboard">
            <button class="btn btn-primary">No, Take me back</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
{%endblock%}
